:root {
  --light-blue: #38cfd9;
  --blue: #136c72;
  --dark-blue: #23424a;
}

*,
*::before,
*::after {
  font-family: Roboto;
  color: #fff;
  box-sizing: border;
}

.hero {
  background-color: var(--dark-blue);
  font-weight: 900;

  color: #ffffff;

  /* only padding at the top, deal with left-right in the .contents */
  padding: 100px 0;
}

.contents {
  width: 80%;
  margin: 0 auto;
  max-width: 750px;
}

.hero .title {
  font-weight: 700;
  font-size: 48px;
}

.hero .subtitle {
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 3em;
}

.primary-btn {
  background: var(--light-blue);
  mix-blend-mode: normal;
  border-radius: 31.5px;

  /* flat */
  border: 0;
  box-shadow: none;
}

.primary-btn .hero-btn-text {
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #23424a;
  padding: 0 30px;
  font-weight: 700;
}
