/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/

:root {
  --cta-button-color: #38cfd9;
  --hero-background: #23424a;
  --three-col-header-color: #87629a;
  --three-col-text-color: #3a3a3a;
  --secondary-color: #136c72;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  /* display: flex => flex container */
  display: flex;
  justify-content: space-between;

  /* can't use yet */
  /* gap: 100px; */
}

.col {
  /* these are now flex items */
  width: 100%;
}

.col + .col {
  margin-left: 30px;
}

.hero {
  padding: 100px 0;
  background-color: #23424a;
  color: #fff;
}

.hero__text {
  width: 62%;
}

.hero__img {
  width: 32%;
  align-self: flex-start;
}

.hero p {
  margin-bottom: 3em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  font-weight: 900;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.challenge2 {
  display: flex;
}

.challenge2 .description {
}

.accent-header {
  color: var(--secondary-color);
  font-size: 36px;
  font-weight: 900;
}

.cta {
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.card {
  text-align: center;
  padding: 10px 15px;
}
