*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset h2 */
h2 {
    margin-top: 0px;
}

:root {
  --hero-background: #f3eed9;
  --section1-background: #222c2a;
  --section2-background: #824936;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
}

.hero {
  padding: 100px 0;
  background-color: var(--hero-background);
  color: var(--section2-background);
  min-height: 660px;
  display: flex;
  align-items: center;
}

.hero__text {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.hero__subtitle {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  /* margin-bottom: -0.25rem; */
  letter-spacing: 0.4em;
}

.hero__title {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 60px;
}

/* section 0 */
.section0 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.section0 .section__title {
  font-family: "Playfair";
  font-weight: 900;
  font-size: 36px;
  color: var(--section2-background);
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.row > *:first-child {
  width: 45%;
}

.row > *:last-child {
  width: 45%;
}

.section__title {
    color: var(--hero-background);
}

.section1, .section2 {
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* .section1 . */

.section1 {
    background-color: var(--section1-background);
}

.section2 {
    background-color: var(--section2-background);
}

img {
    object-fit: cover;
}